.Weather {
  border: 3px solid #0095ffc6;
  color: #6c6060;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
  border-radius: 8px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.temperature-icon {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.temperature-celsius {
  color: rgb(33, 33, 33);
  font-size: 62px;
  line-height: 64px;
}

.unit {
  font-size: 18px;
  color: #212121;

  vertical-align: super;
}
