.Weather {
  border: 1px solid orangered;
  color: #878787;
  padding: 16px;
  margin: 30px auto;
  max-width: 600px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.weather-temperature {
  display: flex;
  gap: 8px;
  font-weight: 400;
}

.weather-temperature img {
  width: 64px;
  height: 64px;
}

.temperature-celsius {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
}

.unit-metric {
  font-size: 20px;
  color: #212121;
}
